
{% extends "base.html" %}
{% block main %}
<div class="col">
    <a href="{{ url_for('search')}}" class="btn btn-primary">Go Back</a>
</div>
{% for item, item_ in found %}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class='col'>
                <h4>Target</h4>
                {% for key, feature in item.__dict__.items() %}
                    {% if key != '_sa_instance_state' %}
                        <div class="row"><h7>{{key}}: {{feature}}</h7></div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class='col'>
                <h4>Reference</h4>
                {% for key, feature in item_.__dict__.items() %}
                    {% if key != '_sa_instance_state' %}
                        <div class="row"><h7>{{key}}: {{feature}}</h7></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}