{% extends "base.html" %}

{% block main %}
  {% for stream in streams %}
    <div class="card">
      <div class="card-body">
        <h3>{{ stream.name }}: id {{ stream.id }}</h3>
        <h4>Offered at {{ stream.college.name }}</h4> 
        <h4>hosted by {{ stream.university.name }}</h4>
        <p>Added on {{ stream.created_at }}</p>
        <a href="{{ url_for('edit_stream', stream_id=stream.id) }}" class="btn btn-primary">Edit</a>
        <a href="{{ url_for('delete_stream', stream_id=stream.id) }}" class="btn btn-danger">Delete</a>
        <a href="{{ url_for('counts_stm', stream_id=stream.id) }}" class="btn btn-secondary">Numbers</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}