{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
  <form action="{{ url_for('addcourse') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
        <div class="col"> 
          <h3>Add Course</h3>
        </div>
        <div class="col">
          {{ form.submit(class="btn btn-primary") }}
          <a href="{{ url_for('courses') }}" class="btn btn-danger">Cancel</a>
        </div>
      </div>
      <div class="row">
          <div class="col">
            <h5> Name </h5>
            {{ form.name(class="form-control") }}
          </div>
          <div class="col">
            <h5> Student ID </h5>
            {{ form.student_id(class="form-control") }}
          </div>
          <div class="col">
              <h5> Grade </h5>
              {{ form.grade(class="form-control") }}
            </div>
        </div>
      <div class="row">
          <div class="col">
            <h5> Stream </h5>
            {{ form.stream(class="form-control") }}
          </div>
          <div class="col">
            <h5> College </h5>
            {{ form.college(class="form-control") }}
          </div>
        </div>
  </form>
</div>
{% endblock %}