{% extends "base.html" %}

{% block main %}
<div class="container-fluid">
  <form action="{{ url_for('addstudent') }}" method="post">
    {{ form.csrf_token }}
    <div class="row">
      <div class="col"> 
        <h3>Add Student</h3>
      </div>
      <div class="col">
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('students') }}" class="btn btn-danger">Cancel</a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5> First Name(s) </h5>
        {{ form.name(class="form-control") }}
      </div>
      <div class="col">
        <h5> Surname(s) </h5>
        {{ form.surname(class="form-control") }}
      </div>
      <div class="col">
        <h5> Address </h5>
        {{ form.address(class="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5> Stream </h5>
        {{ form.stream (class="form-control") }}
      </div>
      <div class="col">
        <h5> STD Code </h5>
        {{ form.std_code(class="form-control") }}
      </div>
      <div class="col">
        <h5> Phone Number </h5>
        {{ form.phone_no(class="form-control") }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h5> College </h5>
        {{ form.college(class="form-control") }}
      </div>
      <div class="col">
        <h5> University </h5>
        {{ form.university(class="form-control") }}
      </div>
    </div>
  </form>
</div>
{% endblock %}
 